img {
  position: relative;
  top: 8px;
  float: left;
  border-radius: 50%;
  border: solid black 1px;
  height: 50px;
  margin-left: 1px;
}

.list_container {
  border: solid black 1px;
  padding: 5px;
  height: 8vh;
}

.list_name {
  position: relative;
  left: -190px;
  top: 15px;
  font-weight: 500;
  font-size: large;
}

.created_by {
  font-weight: 500;
  font-size: small;
  position: relative;
  left: -270px;
  top: 30px;
}
