.add_product_container {
  display: grid;
  grid-template-rows: 5vh 3vh 5vh 20vh 5vh;
}

.product_search {
  margin-top: 10px;
  width: 8fr;
  font-size: large;
  font-weight: 300;
}

.items_container {
  margin-top: 15px;
  display: grid;
  width: 95%;
  grid-template-columns: 15fr 15fr 15fr;
  grid-auto-flow: row;
  grid-gap: 5px;
}

.add_product_status {
  margin-top: 5px;
  font-weight: lighter;
  font-size: smaller;
  text-align: center;
}
