.lists_grid {
  display: grid;
  grid-template-areas:
    "content"
    "list_add";
  min-width: 250px;
  height: 80vh;
  margin: 45px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.lists-container {
  min-height: 72vh;
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 10vh);
  grid-row-gap: 2px;
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.lists_add {
  border-top: 1px solid black;
  display: grid;
  grid-area: list_add;
  min-height: 7vh;
  max-height: 7vh;
  justify-self: last baseline;
  padding-top: 2%;
}

.add_list_button {
  font-size: medium;
  font-weight: 500;
  transition-timing-function: ease;
  transition: 0.2s;
  cursor: pointer;
  border: 0px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.add_list_button:hover {
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
}

.list_grid {
  position: absolute;
  bottom: 0px;
}
