img {
  position: relative;
  top: 10%;
  float: left;
  border-radius: 50%;
  height: 5vh;
  margin-left: 1px;
}

.list_container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  cursor: pointer;
  border: solid gray 1px;
  padding: 5px;
  margin: 1px;
  height: 8vh;
  min-height: 50px;
  transition-timing-function: ease;
  transition: 0.2s;
}

.list_active {
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.list_container:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.list_name {
  flex: 1;
  font-weight: 500;
  font-size: large;
  margin-bottom: 0px;
  margin-left: 10px;
  vertical-align: middle;
}
@media screen and (max-height: 1024px) {
  .list_name {
    margin-top: 5px;
    font-size: small;
  }
}
.created_by {
  flex: 1;
  margin-top: 0px;
  font-weight: 500;
  font-size: small;
  margin-left: 10px;
}

.list_details {
  display: flex;
  flex-flow: column wrap;
  margin: 0 0% 10px 10%;
  align-content: flex-start;
}

.list_delete {
  height: 8vh;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  transition-timing-function: ease;
  transition: 0.3s;
  cursor: pointer;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.list_delete:hover {
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.list_invite {
  max-height: 8vh;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  transition-timing-function: ease;
  transition: 0.3s;
  cursor: pointer;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.list_invite:hover {
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
