img {
  position: relative;
  top: 15%;
  float: left;
  border-radius: 50%;
  height: 50px;
  margin-left: 1px;
}

.list_container {
  cursor: pointer;
  border: solid black 1px;
  padding: 5px;
  margin: 2px;
  height: 8vh;
}

.list_name {
  flex: 1;
  font-weight: 500;
  font-size: large;
  margin-bottom: 0px;
  margin-left: 10px;
}

.created_by {
  flex: 1;
  margin-top: 0px;
  font-weight: 500;
  font-size: small;
  margin-left: 10px;
}

.list_details {
  display: flex;
  flex-flow: column wrap;
  margin: 0 10% 50px 10%;
  align-content: flex-start;
}
